.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(150, 41%, 91%);
    border: 2px solid #293b2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
  }

  .h1-cook {
    font-size: 24px;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  

  h3{
    cursor: default;
  }
  
  .search-container1 {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    height: 17px;
  }
  
  .search-bar:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-color: #45a049;
  }
  
  .searchbtn {
    padding: 0 16px;
    background-color: #4caf50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 16px;
  }
  
  .searchbtn:hover {
    background-color: #45a049;
  }
  
  .searchbtn:active {
    transform: scale(0.98);
  }
  
  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .recipe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    max-width: 550px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: hsl(0, 0%, 82%);
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  }
  
  .recipe-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: hsl(0, 0%, 20%);
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .toggle-button1 {
    padding: 4px 8px;
    height: 30px;     
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 14px;
  }
  
  .toggle-button1:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
  
  
  .toggle-button1:active {
    transform: scale(0.98);
  }
  
  .details {
    margin-top: 10px;
    text-align: left;
  }
  
  .details h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .details p, .details ol, .details ul {
    font-size: 16px;
  }



  @media (max-width: 768px) {
    .container {
      padding: 15px;
      margin: 10px; 
    }
  
    .results {
      max-height: 350px; 
    }
  
    .recipe-card {
      width: calc(100% - 20px);
    }
    .details h4 {
        font-size: 18px;
      }
      
      .details p, .details ol, .details ul {
        font-size: 14px;
      }
  }
  




  @media (max-width: 480px) {
    .container {
      padding: 10px;
      margin: 5px; 
      margin-top: 20px;
    }
  
    .results {
      max-height: 450px; 
      width: 100%;
    }
  
    .recipe-card {
      width: 90%;
      padding: 5px;
    }

    .details h4 {
        font-size: 14px;
      }
      
      .details p, .details ol, .details ul {
        font-size: 11px;
      }

      .toggle-button1 {
        padding: 4px 8px;
        height: 30px;   
        font-size: 14px;
      }
  }